---
import type { Locale } from "@/utils/get-locale";

import Master from "@/layouts/Master.astro";
import Main from "@/components/layout/Main.astro";

import ToastContainer from "@/components/ToastContainer.astro";

import PageTitle from "@/components/PageTitle.astro";
import SubmitLink from "@/components/SubmitLink.astro";

import ShortenedLink from "@/components/link-output/ShortenedLink.astro";

const serverLocale =
  (Astro.request.headers
    .get("accept-language")
    ?.split(",")[0]
    ?.split("-")[0] as keyof Locale) || "en";
---

<Master locale={serverLocale}>
  <ToastContainer locale={serverLocale} />
  <Main locale={serverLocale}>
    <div class="grid gap-y-6">
      <PageTitle locale={serverLocale} />
      <div class="[grid-template-areas:'shared'] grid">
        <SubmitLink locale={serverLocale} />
        <ShortenedLink locale={serverLocale} />
      </div>
    </div>
  </Main>
</Master>

<script>
  import { getLocale } from "@/utils/get-locale";

  const layout = document.querySelector("html");
  if (layout) {
    layout.lang = getLocale();
  }
</script>
