---
import "@/styles/keyframes.css";
interface Props {
  toastContainerID: string;
  toastMessage: string;
  toastBorderColor: string;
  toastTextColor: string;
}

const { toastContainerID, toastMessage, toastBorderColor, toastTextColor } =
  Astro.props;
---

<div id={toastContainerID} class="fixed invisible top-3">
  <div class="flex justify-center">
    <div
      class={`font-light px-3 py-2
      border border-solid ${toastBorderColor}
      rounded-xl flex justify-evenly items-center
      backdrop-blur-md bg-bwhite/70 dark:bg-bblack/70
      whitespace-nowrap`}
    >
      <div class={`pr-3 ${toastTextColor}`}>
        <slot />
      </div>
      <p class={`text-pretendard max-sm:text-xs ${toastTextColor}`}>
        {toastMessage}
      </p>
    </div>
  </div>
</div>
