---
import type { Locale } from "@/utils/get-locale";
import "@/styles/global.css";

import { localizedPageTitle } from "@/i18n/layouts/PageTitle.i18n";

import MetaTags from "@/components/meta/MetaTags.astro";

interface Props {
  locale: keyof Locale;
}

const currentUrl = Astro.url.toString();

const { locale } = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />

    <link
      rel="icon"
      type="image/webp"
      href="/favicon/favicon.white.webp"
      media="(prefers-color-scheme:dark)"
    />
    <link rel="icon" type="image/webp" href="/favicon/favicon.black.webp" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="color-scheme" content="dark, light" />
    <link
      rel="https://static.jfa.dev/fonts/geist/geist-variable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="https://static.jfa.dev/fonts/geist/geist-mono-variable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <MetaTags
      locale={locale}
      currentURL={currentUrl}
      headerContent={localizedPageTitle[locale]}
    />
    <title>{localizedPageTitle[locale]}</title>
  </head>
  <body class="text-black bg-white dark:text-white dark:bg-black">
    <slot />
  </body>
</html>
