---
import type { Locale } from "@/utils/get-locale";
import "@/styles/global.css";

import { localizedPageTitle } from "@/i18n/layouts/PageTitle.i18n";
import {
  localizedMetaDescription,
  localizedMetaKeywords,
} from "@/i18n/meta/MetaTags.i18n";

interface Props {
  locale: keyof Locale;
}

const currentUrl = Astro.url.toString();

const { locale } = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content={currentUrl} />
    <!-- Meta descriptions -->
    <meta name="description" content={localizedMetaDescription[locale]} />
    <meta name="keywords" content={localizedMetaKeywords[locale]} />
    <meta name="author" content="Jorge Fernando Ãlava" />
    <meta name="title" content={localizedPageTitle[locale]} />
    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={localizedPageTitle[locale]} />
    <meta
      property="og:description"
      content={localizedMetaDescription[locale]}
    />
    <meta
      property="og:image"
      content="https://static.jfa.dev/link-shortener/og-image.jpg"
    />
    <meta property="og:image:type" content="jpg" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:width" content="630" />
    <meta
      property="og:image:alt"
      content="JFA Designs - Link Shortener Service"
    />
    <meta property="og:updated_time" content="2025-02-02T20:03:30.765Z" />
    <meta property="og:url" content={currentUrl} />
    <meta property="og:locale" content={locale} />
    <meta property="og:site_name" content={localizedPageTitle[locale]} />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://static.jfa.dev/link-shortener/og-image.jpg"
    />
    <meta name="twitter:creator" content="@jorgefalava" />
    <meta name="twitter:site" content="@jorgefalava" />

    <link
      rel="icon"
      type="image/webp"
      href="/favicon/favicon.white.webp"
      media="(prefers-color-scheme:dark)"
    />
    <link rel="icon" type="image/webp" href="/favicon/favicon.black.webp" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="color-scheme" content="dark, light" />
    <link
      rel="https://static.jfa.dev/fonts/geist/geist-variable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="https://static.jfa.dev/fonts/geist/geist-mono-variable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <title>{localizedPageTitle[locale]}</title>
  </head>
  <body class="text-black bg-white dark:text-white dark:bg-black">
    <slot />
  </body>
</html>
